flujos n8n/04_transcripts_ingesta.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT '{{ $json.id }}' AS drive_file_id, EXISTS(SELECT 1 FROM transcripts WHERE drive_file_id = '{{ $json.id }}') AS already_ingested;",
        "options": {}
      },
      "id": "7db11adc-9582-483f-860c-55d6f88a5853",
      "name": "Check if already ingested",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Single item from Google Drive Trigger\nconst file = $('Google Drive Trigger').item.json;\nconst existing = $input.item.json;\n\n// Skip if already ingested\nif (existing?.already_ingested === true) return [];\n\nconst name = file.name ?? '';\n\n// Parse Gemini Notes title format:\n// \"Pol <> Cami - 2026/03/24 09:29 CET - Notas de Gemini\"\n// \"[Montex] - Migración - 2026/02/24 11:00 CET - Notas de Gemini\"\nconst geminiMatch = name.match(\n  /^(.+?)\\s*-\\s*(\\d{4})\\/(\\d{2})\\/(\\d{2})\\s+(\\d{2}):(\\d{2})\\s+\\w+\\s*-\\s*Notas de Gemini$/\n);\n\nlet meetingTitle = name;\nlet parsedDate = null;\nlet parsedTimestamp = null;\n\nif (geminiMatch) {\n  meetingTitle = geminiMatch[1].trim();\n  const [, , year, month, day, hour, minute] = geminiMatch;\n  parsedDate = `${year}-${month}-${day}`;\n  parsedTimestamp = `${year}-${month}-${day}T${hour}:${minute}:00+01:00`;\n}\n\nreturn [{\n  json: {\n    drive_file_id: file.id,\n    file_name: name,\n    document_url: file.webViewLink ?? '',\n    modified_time: file.modifiedTime ?? file.createdTime,\n    meeting_title: meetingTitle,\n    parsed_date: parsedDate,\n    parsed_timestamp: parsedTimestamp\n  }\n}];"
      },
      "id": "6cc04314-30a0-45a0-b7c6-0a6b360ef376",
      "name": "Filter ingested + parse title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.drive_file_id }}"
      },
      "id": "97143a8e-0330-4495-856a-9bad47dbb835",
      "name": "Google Docs — Get document",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vHXEfZEpdRlbB7Ts",
          "name": "Google Docs Pol"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Filter ingested + parse title').item.json;\nconst doc = $input.item.json;\n\nconst contentText = (doc.content ?? '').trim();\n\nreturn [{ json: { ...meta, content_text: contentText } }];"
      },
      "id": "1dc0b516-71a7-44bc-9dc9-06e796756da3",
      "name": "Extract text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(sub.meeting_id, NULL) AS meeting_id,\n  COALESCE(sub.client_id, NULL) AS client_id\nFROM (SELECT 1) AS dummy\nLEFT JOIN LATERAL (\n  SELECT m.id AS meeting_id, m.client_id\n  FROM meetings m\n  WHERE m.start_at::date = '{{ $json.parsed_date }}'::date\n  ORDER BY\n    CASE WHEN m.title = '{{ ($json.meeting_title || '').replace(/'/g, \"''\") }}' THEN 0 ELSE 1 END,\n    ABS(EXTRACT(EPOCH FROM (\n      m.start_at - {{ $json.parsed_timestamp ? \"'\" + $json.parsed_timestamp + \"'::timestamptz\" : \"'\" + $json.modified_time + \"'::timestamptz\" }}\n    )))\n  LIMIT 1\n) sub ON true;",
        "options": {}
      },
      "id": "5e9a0fdf-2fb7-4039-aa01-e17f597a8f41",
      "name": "Resolve meeting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcript = $('Extract text').item.json;\nconst meetingRow = $input.item.json;\n\nconst transcriptAt = transcript.parsed_timestamp\n  ? transcript.parsed_timestamp\n  : transcript.modified_time;\n\nreturn [{\n  json: {\n    ...transcript,\n    meeting_id:    meetingRow?.meeting_id ?? null,\n    client_id:     meetingRow?.client_id  ?? null,\n    transcript_at: transcriptAt\n  }\n}];\n\n\n"
      },
      "id": "69757ee1-f47c-45cd-b82b-d5f91a5bed43",
      "name": "Merge meeting_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transcripts (\n  meeting_id,\n  client_id,\n  source_type,\n  file_name,\n  document_url,\n  drive_file_id,\n  content_text,\n  transcript_at,\n  language_code\n)\nVALUES (\n  {{ $json.meeting_id ? \"'\" + $json.meeting_id + \"'\" : 'NULL' }},\n  {{ $json.client_id  ? \"'\" + $json.client_id  + \"'\" : 'NULL' }},\n  'google_doc',\n  '{{ ($json.file_name || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.document_url || '').replace(/'/g, \"''\") }}',\n  '{{ $json.drive_file_id }}',\n  '{{ ($json.content_text || '').replace(/'/g, \"''\").substring(0, 500000) }}',\n  {{ $json.transcript_at ? \"'\" + $json.transcript_at + \"'\" : 'NULL' }},\n  'es'\n)\nON CONFLICT (source_type, drive_file_id)\nDO UPDATE SET\n  meeting_id    = COALESCE(transcripts.meeting_id,  EXCLUDED.meeting_id),\n  client_id     = COALESCE(transcripts.client_id,   EXCLUDED.client_id),\n  content_text  = EXCLUDED.content_text,\n  transcript_at = EXCLUDED.transcript_at,\n  language_code = EXCLUDED.language_code\nRETURNING id AS transcript_id, meeting_id, client_id;",
        "options": {}
      },
      "id": "a31511ae-0fe4-48bf-bc15-557f6e004f4d",
      "name": "Upsert transcript",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cjLoJkElBwmLrbSlQpYdWYfHEJbDtbl0",
          "mode": "list",
          "cachedResultName": "Meet Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cjLoJkElBwmLrbSlQpYdWYfHEJbDtbl0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -80
      ],
      "id": "932f4c27-26ef-455b-b80a-e9f84f8162c2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q61A72rVv6GrxH1H",
          "name": "Google Drive Pol"
        }
      }
    }
  ],
  "connections": {
    "Check if already ingested": {
      "main": [
        [
          {
            "node": "Filter ingested + parse title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter ingested + parse title": {
      "main": [
        [
          {
            "node": "Google Docs — Get document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs — Get document": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Resolve meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve meeting": {
      "main": [
        [
          {
            "node": "Merge meeting_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge meeting_id": {
      "main": [
        [
          {
            "node": "Upsert transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Check if already ingested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32ca23c584a6940310de9ccd89a8d02b720458089469cd8637c9651cf3659460"
  }
}