flujos n8n/04_transcripts_ingesta.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT '{{ $json.id }}' AS drive_file_id, EXISTS(SELECT 1 FROM transcripts WHERE drive_file_id = '{{ $json.id }}') AS already_ingested;",
        "options": {}
      },
      "id": "d2866e5f-96be-47c6-9223-1d073a037581",
      "name": "Check if already ingested",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Single item from Google Drive Trigger\nconst file = $('Google Drive Trigger').item.json;\nconst existing = $input.item.json;\n\nif (existing?.already_ingested === true) return [];\n\nconst name = file.name ?? '';\n\n// Parse: \"Revisión HUB Decada - POL CAMI - 2026/03/25 13:00 CET - Notas de Gemini\"\nconst geminiMatch = name.match(\n  /^(.+?)\\s*-\\s*(\\d{4})\\/(\\d{2})\\/(\\d{2})\\s+(\\d{2}):(\\d{2})\\s+\\w+\\s*-\\s*Notas de Gemini$/\n);\n\nlet meetingTitle = name;\nlet parsedDate = null;\nlet parsedTimestamp = null;\n\nif (geminiMatch) {\n  meetingTitle = geminiMatch[1].trim();\n  const [, , year, month, day, hour, minute] = geminiMatch;\n  parsedDate = `${year}-${month}-${day}`;\n  parsedTimestamp = `${year}-${month}-${day}T${hour}:${minute}:00+01:00`;\n}\n\nreturn [{\n  json: {\n    drive_file_id: file.id,\n    file_name: name,\n    document_url: file.webViewLink ?? '',\n    modified_time: file.modifiedTime ?? file.createdTime,\n    meeting_title: meetingTitle,\n    parsed_date: parsedDate,\n    parsed_timestamp: parsedTimestamp\n  }\n}];"
      },
      "id": "4042db78-3918-4396-9080-b4098e663369",
      "name": "Filter ingested + parse title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.drive_file_id }}",
        "simple": false
      },
      "id": "1b88f7fb-3de2-4ea1-93cf-993cd9443353",
      "name": "Google Docs — Get document",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        -144
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vHXEfZEpdRlbB7Ts",
          "name": "Google Docs Pol"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Filter ingested + parse title').item.json;\nconst doc = $input.item.json;\n\nconst FREEMAIL = new Set([\n  'gmail.com','googlemail.com','outlook.com','hotmail.com','hotmail.es',\n  'live.com','yahoo.com','yahoo.es','icloud.com','me.com','mac.com',\n  'protonmail.com','proton.me','aol.com','zoho.com','mail.com'\n]);\n\n// Extract text content\nconst contentText = (doc.content ?? '').trim();\n\n// Extract person emails from structured body\nconst persons = [];\nconst bodyContent = doc.body?.content ?? [];\nfor (const block of bodyContent) {\n  if (!block.paragraph) continue;\n  for (const el of (block.paragraph.elements ?? [])) {\n    if (el.person?.personProperties?.email) {\n      persons.push({\n        email: el.person.personProperties.email.toLowerCase(),\n        name: el.person.personProperties.name ?? ''\n      });\n    }\n  }\n}\n\n// Collect all participant emails and their domains\nconst allEmails = persons.map(p => p.email);\nconst allDomains = [...new Set(\n  allEmails\n    .map(e => e.split('@')[1])\n    .filter(d => d && !FREEMAIL.has(d))\n)];\n\n// Freemail participants: keep email for direct lookup\nconst freemailEmails = persons\n  .filter(p => FREEMAIL.has(p.email.split('@')[1] ?? ''))\n  .map(p => p.email);\n\n// All lookup values: all emails + domains + freemail emails\nconst lookupValues = [...new Set([...allEmails, ...allDomains, ...freemailEmails])];\n\nreturn [{\n  json: {\n    ...meta,\n    content_text: contentText,\n    participant_emails: allEmails,\n    participant_domains: allDomains,\n    freemail_emails: freemailEmails,\n    lookup_values: lookupValues\n  }\n}];"
      },
      "id": "ae25e5d3-1d00-4d86-b15f-32d8f52b2833",
      "name": "Extract text + participants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(sub.meeting_id, NULL) AS meeting_id,\n  COALESCE(sub.client_id, NULL) AS client_id\nFROM (SELECT 1) AS dummy\nLEFT JOIN LATERAL (\n  SELECT m.id AS meeting_id, m.client_id\n  FROM meetings m\n  WHERE m.start_at::date = '{{ $json.parsed_date }}'::date\n  ORDER BY\n    CASE\n      WHEN m.title = '{{ ($json.meeting_title || '').replace(/'/g, \"''\") }}' THEN 0\n      WHEN m.title ILIKE '%' || '{{ ($json.meeting_title || '').replace(/'/g, \"''\").split(\" - \")[0].split(\" <> \")[0].trim() }}' || '%' THEN 1\n      WHEN '{{ ($json.meeting_title || '').replace(/'/g, \"''\") }}' ILIKE '%' || m.title || '%' THEN 1\n      ELSE 2\n    END,\n    ABS(EXTRACT(EPOCH FROM (\n      m.start_at - {{ $json.parsed_timestamp ? \"'\" + $json.parsed_timestamp + \"'::timestamptz\" : \"'\" + $json.modified_time + \"'::timestamptz\" }}\n    )))\n  LIMIT 1\n) sub ON true;",
        "options": {}
      },
      "id": "80bb3a44-c8b7-48a0-ac16-f009aa26c5bf",
      "name": "Resolve meeting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcript = $('Extract text + participants').item.json;\nconst meetingRow = $input.item.json;\n\nconst transcriptAt = transcript.parsed_timestamp\n  ? transcript.parsed_timestamp\n  : transcript.modified_time;\n\nreturn [{\n  json: {\n    ...transcript,\n    meeting_id: meetingRow?.meeting_id ?? null,\n    client_id:  meetingRow?.client_id  ?? null,\n    transcript_at: transcriptAt\n  }\n}];"
      },
      "id": "7517b53a-8aa6-4216-8a2f-612c9083c7e4",
      "name": "Merge meeting_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  {{ $json.client_id ? \"'\" + $json.client_id + \"'::uuid\" : \"(SELECT ci.client_id FROM client_identifiers ci WHERE \" + ($json.lookup_values.length > 0 ? \"ci.identifier_value = ANY(ARRAY[\" + $json.lookup_values.map(v => \"'\" + v.replace(/'/g, \"''\") + \"'\").join(',') + \"]::text[])\" : \"false\") + \" LIMIT 1)\" }} AS client_id;",
        "options": {}
      },
      "id": "4e2dbf47-e95e-4cfe-9c23-6d416bf17155",
      "name": "Resolve client fallback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcript = $('Merge meeting_id').item.json;\nconst fallback = $input.item.json;\n\nconst clientId = transcript.client_id || fallback.client_id || null;\n\nreturn [{\n  json: {\n    ...transcript,\n    client_id: clientId,\n    // Clean up internal fields\n    lookup_values: undefined,\n    participant_emails: undefined,\n    participant_domains: undefined,\n    freemail_emails: undefined\n  }\n}];"
      },
      "id": "59337deb-278e-4e07-a3ab-3cbe521eadf4",
      "name": "Apply fallback client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transcripts (\n  meeting_id,\n  client_id,\n  source_type,\n  file_name,\n  document_url,\n  drive_file_id,\n  content_text,\n  transcript_at,\n  language_code\n)\nVALUES (\n  {{ $json.meeting_id ? \"'\" + $json.meeting_id + \"'\" : 'NULL' }},\n  {{ $json.client_id  ? \"'\" + $json.client_id  + \"'\" : 'NULL' }},\n  'google_doc',\n  '{{ ($json.file_name || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.document_url || '').replace(/'/g, \"''\") }}',\n  '{{ $json.drive_file_id }}',\n  '{{ ($json.content_text || '').replace(/'/g, \"''\").substring(0, 500000) }}',\n  {{ $json.transcript_at ? \"'\" + $json.transcript_at + \"'\" : 'NULL' }},\n  'es'\n)\nON CONFLICT (source_type, drive_file_id)\nDO UPDATE SET\n  meeting_id    = COALESCE(transcripts.meeting_id,  EXCLUDED.meeting_id),\n  client_id     = COALESCE(transcripts.client_id,   EXCLUDED.client_id),\n  content_text  = EXCLUDED.content_text,\n  transcript_at = EXCLUDED.transcript_at,\n  language_code = EXCLUDED.language_code\nRETURNING id AS transcript_id, meeting_id, client_id;",
        "options": {}
      },
      "id": "e6876e33-7570-40bc-b96e-2d874a3c443d",
      "name": "Upsert transcript",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2080,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "3Kp5Kb17YoxCT3Ll",
          "name": "Postgres Decada"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cjLoJkElBwmLrbSlQpYdWYfHEJbDtbl0",
          "mode": "list",
          "cachedResultName": "Meet Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cjLoJkElBwmLrbSlQpYdWYfHEJbDtbl0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -144
      ],
      "id": "43cdf4aa-d802-4bab-af41-aecc3d4e0484",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q61A72rVv6GrxH1H",
          "name": "Google Drive Pol"
        }
      }
    }
  ],
  "connections": {
    "Check if already ingested": {
      "main": [
        [
          {
            "node": "Filter ingested + parse title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter ingested + parse title": {
      "main": [
        [
          {
            "node": "Google Docs — Get document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs — Get document": {
      "main": [
        [
          {
            "node": "Extract text + participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text + participants": {
      "main": [
        [
          {
            "node": "Resolve meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve meeting": {
      "main": [
        [
          {
            "node": "Merge meeting_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge meeting_id": {
      "main": [
        [
          {
            "node": "Resolve client fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve client fallback": {
      "main": [
        [
          {
            "node": "Apply fallback client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply fallback client": {
      "main": [
        [
          {
            "node": "Upsert transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Check if already ingested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32ca23c584a6940310de9ccd89a8d02b720458089469cd8637c9651cf3659460"
  }
}